@charset "utf-8";

header#h_top{
	width: 100%;
	height: 80px;
	background-image: url(../images/logo_bg.jpg);
}
.h_menu{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.h_menu .logo{
	width: 160px;
	height: 30px;
	padding-top: 10px;
}
.h_menu .logo img{
	display:block;
}
.h_menu .h_search{
	height: 40px;
	width: 300px;
	border: 1px solid #363e41;
	background-color: #fff;
	margin: 0 auto;
	position: absolute;
	left: 270px;
	top: 25px;
}
.h_menu input{
	font-size: 16px;
	width: 250px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
.h_menu button{
	width: 40px;
	height: 100%;
	border: 0px;
	background: #363e41;
	outline: none;
	float: right;
	color: #fff;
}
.h_num .num{
	width: 200px;
	position: absolute;
	right: 170px;
}
.h_num .num p{
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 20px;
}
.sns .sns_icon{
	width: 150px;
	position: absolute;
	right: 20px;
}
.sns .sns_icon{
	display: block;
}
nav.menu{
	width: 100%;
	background-color: #fff;
	border-bottom: 3px solid #0e73a7;
}
.menu .menu_b{
	width: 1000px;
	/*background-color: pink;*/
	margin: 0 auto;
}
.menu_b li{
	float: left;
	width: 166.67px;
	border: 1px solid #ccc;
}
.menu_b li:after{
	border-top: none;
	}
.menu_b li a{
	display: block;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

section#sec{
	background:url(../images/bg.jpg) no-repeat center;
}
#sec .con{
	width:1000px;
	/*height: 260px;*/
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
}

.wrapper{
	width: 475px;
	height: 300px;
	position: relative;
	/*border: 1px solid #fff;*/
	margin-bottom: 20px;
	float: left;

}
.slider_wrap{
	width: 350px;
	height: 300px;
	background-color: #fff;
	position: absolute;
	right: 0;
}
.slider_wrap li{
	position: absolute;
	right: 0;
	/*background-color: pink;*/
}
.bx-pager li{
	width: 125px;
	height: 75px;
	background-color: #fff;
	
}
.bx-pager li:nth-child(1){
	background-color: #006599;
}
.bx-pager li:nth-child(2){
	background-color: #006599;
	border: 1px solid #006599;
}
.bx-pager li:nth-child(3){
	background-color: #0099cb;
	border: 1px solid #006599;
}
.bx-pager li:nth-child(4){
	background-color: #0099cb;
	border: 1px solid #006599;
}
.bx-pager li a{
	display: block;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
	font-weight: bold;
}
.bx-pager li a:hover{
	background-color: #fff;
}
.bx-pager li a.active{
	background-color: #fff;

}
.con .slid_bar{
	width: 500px;
	float: right;
}
.con .con-txt{
	width: 50%;
	/*background-color: #fff;*/
	float: right;
	color: #142630;
	padding-left: 20px;
}
.con-txt .txt h1{
	font-size: 50px;
}
.con-txt .txt p{
	font-size: 25px;
}

.ctn{
	width: 1000px;
	margin:0 auto;
	/*background-color: #fff;*/
	
}
.ctn li{
	float: left;
	position: relative;
}
.ctn li:nth-child(1){
	width: 232.5px;
	height: 230px;
	background-image: url(../images/nth1.jpg);
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.ctn li:nth-child(2){
	width: 232.5px;
	height: 230px;
	background-image: url(../images/nth2.jpg);
	margin-bottom: 10px;
	position: relative;
}
.ctn li .bar{
	width: 100%;
	height: 50px;
	background-color: #152630;
	position: absolute;
	bottom: 0;
}
.ctn li .bar p{
	color: #67b55f;
	float: left;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
.ctn li .bar p:nth-child(1){
	margin-left: 20px;
	color: #fff;
}
.ctn li .bar p:nth-child(2){
	margin-left: 55px;
}

.ctn li:nth-child(3){
	width: 50%;
	height: 230px;
	margin-bottom: 10px;
}
.ctn li:nth-child(4){
	width: 232.5px;
	height: 230px;
	background-color: #fff;
	margin-right: 10px;
}
.ctn li .slid-bar{
	position: relative;
}
.ctn li .slid_bar div.pBtn, div.nBtn{
	position: absolute;
	top: 0;
	opacity: 0.5;
}
.ctn li .slid_bar div.pBtn{
	top: 80px;
	left: 0;
}
.ctn li .slid_bar div.nBtn{
	top: 80px;
	right: 0;
}
.ctn li .bar1{
	width: 100%;
	height: 50px;
	background-color: #529351;
	position: absolute;
	bottom: 0;
}
.ctn li .bar1 .txt{
	width: 100px;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
	padding-left: 30px;
}
.ctn li .bar1 .txt .star{
	color: yellow;
}

.ctn li:nth-child(5){
	width: 232.5px;
	height: 230px;
	background-color: #fff;
	margin-right: 10px;

}
.ctn li:nth-child(6){
	width: 232.5px;
	height: 230px;
	background-color: #fff;
	margin-right: 10px;
}
.ctn li:nth-child(7){
	width: 232.5px;
	height: 230px;
	background-color: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
}
.ctn li:nth-child(8){
	width: 232.5px;
	height: 230px;
	background-image: url(../images/card_img1.jpg);
	margin-right: 10px;
	position: relative;
}
.card{
	width: 232.5px;
	height: 230px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.5);
}
.card .card_title{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 85px;
	position: relative;
}
.card .card_title img.icon{
	display: block;
	position: absolute;
	left: 51px;
	top: 17px;
}
.card .card_title img.icon1{
	display: block;
	position: absolute;
	left: 51px;
	top: 125px;
}
.card .card_body{
	font-size: 15px;
	color: #fff;
	padding-left: 15px;
}
.card img{
	display: block;
	position: absolute;
	top: 110px;
	left: 95px;
}
.card img:nth-child(1){
	display: block;
	position: absolute;
	top: 90px;
	left: 95px;
}

.ctn li:nth-child(9){
	width: 232.5px;
	height: 230px;
	background-image: url(../images/card_img2.jpg);
	margin-right: 10px;
	position: relative;
}
.card .card_title:nth-child(2){
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	padding-top: 130px;
	padding-bottom: 10px;
	padding-left: 85px;
	position: relative;
}
.card .card_body:nth-child(2){
	font-size: 15px;
	color: #fff;
	padding-left: 15px;
}
.ctn li:nth-child(10){
	width: 232.5px;
	height: 230px;
	background-image: url(../images/card_img3.jpg);
	margin-right: 10px;
}
.ctn li:nth-child(11){
	width: 232.5px;
	height: 230px;
	background-image: url(../images/card_img4.jpg);
}