@charset "utf-8";
@media all and (max-width: 1620px){
#mid_con .ediya{
		background-image: url(../images/EDIYA_1600.jpg);
	}
#mid_con .ediya .ediya_txt h1{
		position: absolute;
		top: 50px;
		left: 10px;
	}
#mid_con .ediya .ediya_txt h2{
		position: absolute;
		top: 120px;
		left: 10px;
	}
#mid_con .ediya .ediya_txt h4{
		position: absolute;
		top: 70px;
		left: 330px;
	}
#mid_con .ediya .ediya_txt a{
		position: absolute;
		top: 130px;
		left: 330px;
	}

#mid_con .ediya_lab .lab_tab .img1{
		position: absolute;
		left:-12%;
		top: 3%;
		overflow: hidden;
	}


#mid_con .ediya_lab .lab_tab .img2{
		position: absolute;
		right: -12%;
		top: 10%;
		overflow: hidden;
	}

}
/*
width: 100%;
height: 560px;
background-image:url(../img), url(../img);
background-size: 120px auto, 120px auto;
background-position: -15% top, 110% bottom;
background-attachment:fixed, fixed;
background-repeat:no-repeat, no-repeat;

*/
@media all and (max-width: 1200px){
#mid_con .ediya{
		background: url(../images/EDIYA_1200.jpg) no-repeat;
	}
#mid_con .ediya .ediya_txt h1{
		position: absolute;
		top: 50px;
		left: 60px;
	}
#mid_con .ediya .ediya_txt h2{
		position: absolute;
		top: 120px;
		left: 60px;
	}
#mid_con .ediya .ediya_txt h4{
		position: absolute;
		top: 70px;
		left: 390px;
	}
#mid_con .ediya .ediya_txt a{
		position: absolute;
		top: 130px;
		left: 390px;
	}

#mid_con .lab_title .lab{
	width: 50%;
	margin: 0 auto;
	padding-top: 7%;
}

#mid_con .ediya_lab .lab_tab .img1{
		position: absolute;
		left:-34%;
		top: 3%;
		overflow: hidden;
	}


#mid_con .ediya_lab .lab_tab .img2{
		position: absolute;
		right: -34%;
		top: 10%;
		overflow: hidden;
	}

footer#footer .foot_img{
	width: 100%;
}
}
@media all and (max-width: 1100px){
#mid_con .ediya{
		background: url(../images/EDIYA_1100.jpg) no-repeat;
	}
#mid_con .ediya .ediya_txt{
	width: 80%;
}
#mid_con .ediya .ediya_txt h1{
		position: absolute;
		top: 50px;
		left: 30px;
	}
#mid_con .ediya .ediya_txt h2{
		position: absolute;
		top: 120px;
		left: 30px;
	}
#mid_con .ediya .ediya_txt h4{
		position: absolute;
		top: 70px;
		left: 350px;
	}
#mid_con .ediya .ediya_txt a{
		position: absolute;
		top: 130px;
		left: 350px;
	}

}

@media all and (max-width: 1074px){
#mid_con .ediya_lab .lab_tab .img1{
		position: absolute;
		left:-47%;
		top: 3%;
		overflow: hidden;
	}


#mid_con .ediya_lab .lab_tab .img2{
		position: absolute;
		right: -47%;
		top: 10%;
		overflow: hidden;
	}
}
@media all and (max-width: 767px){
#mid_con .ediya{
		background: url(../images/EDIYA_m_767.jpg) no-repeat;
	}
#mid_con .ediya .ediya_txt{
	width: 100%;
}
#mid_con .ediya .ediya_txt h1{
		position: absolute;
		top: 20px;
		left: 30px;
	}
#mid_con .ediya .ediya_txt h2{
		position: absolute;
		top: 100px;
		left: 30px;
	}
#mid_con .ediya .ediya_txt h4{
		position: absolute;
		top: 160px;
		left: 30px;
	}
#mid_con .ediya .ediya_txt a{
		position: absolute;
		top: 200px;
		left: 290px;
	}

#mid_con .lab_title .lab{
	width: 100%;
	margin: 0 auto;
	padding-top: 7%;
}
#mid_con .ediya_lab .lab_tab img{
	width: 300px;
	height: 400px;
}

#mid_con .ediya_lab .lab_tab .img1{
	position: absolute;
	left:-10%;
	top: 3%;
	overflow: hidden;
}


#mid_con .ediya_lab .lab_tab .img2{
	position: absolute;
	right: -40%;
	top: 13%;
	overflow: hidden;
		
}
#mid_con .ediya_lab .lab_tab .bar{
	width: 100px;
	height: 3px;
	position: absolute;
	top: 5%;
	left: 35%;
}
#mid_con .ediya_lab .lab_tab .img1 .txt{
	font-size: 13px;
	position: absolute;
	top: 10%;
	left: 40%;
}
#mid_con .ediya_lab .lab_tab .img2 .txt{
	font-size: 13px;
	position: absolute;
	top: 10%;
	left: 40%;
}

}
@media all and (max-width: 600px){
#mid_con .ediya .ediya_txt{
	width: 100%;
}
#mid_con .ediya{
		background: url(../images/EDIYA_m_600.jpg) no-repeat;
	}
#mid_con .ediya .ediya_txt h1{
		font-size: 35px;
		position: absolute;
		top: 20px;
		left: 10px;
	}
#mid_con .ediya .ediya_txt h2{
		font-size: 25px;
		position: absolute;
		top: 75px;
		left: 10px;
	}
#mid_con .ediya .ediya_txt h4{
		position: absolute;
		top: 130px;
		left: 10px;
	}
#mid_con .ediya .ediya_txt a{
		position: absolute;
		top: 190px;
		left: 10px;
	}

#mid_con .lab_title .lab{
	width: 100%;
	margin: 0 auto;
	padding-top: 7%;
}
#mid_con .ediya_lab .lab_tab img{
	width: 300px;
	height: 400px;
}

#mid_con .ediya_lab .lab_tab .img1{
	position: absolute;
	left:-40%;
	top: 3%;
	overflow: hidden;
}


#mid_con .ediya_lab .lab_tab .img2{
	position: absolute;
	right: -40%;
	top: 15%;
	overflow: hidden;
		
}
#mid_con .ediya_lab .lab_tab .bar{
	width: 100px;
	height: 3px;
	position: absolute;
	top: 5%;
	left: 35%;
}
#mid_con .ediya_lab .lab_tab .img1 .txt{
	font-size: 13px;
	position: absolute;
	top: 10%;
	left: 40%;
}
#mid_con .ediya_lab .lab_tab .img2 .txt{
	font-size: 13px;
	position: absolute;
	top: 10%;
	left: 40%;
}

#mid_con .botlogo img{
	display:block;
	position: absolute;
	top: 20%;
	left: 20%;
}


}