@charset "utf-8";
body{
	font-family: 'Nanum Gothic', sans-serif;
}
#header{
	width: 100%;
}
#header div.top_h{
	width: 1200px;
	/*background-color: #ccc;*/
	margin: 0 auto;
}
#header div.top_h .top_L{
	width: 300px;
	height: 35px;
	/*background-color: #ccc;*/
	float: left;
	position: relative;
}

#header div.top_h .top_L li{
	float: left;
}
#header div.top_h .top_L li:after{
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	position: absolute;
	top: 18px;
	background-color: #ccc;
}
#header div.top_h .top_L li:first-child:after{
	display: none;
}
#header div.top_h .top_L li a{
	display: block;
	text-align: center;
	line-height:35px;
	color: #ccc;
	padding:5px;
	font-size: 12px;
	margin-right: 15px;
	margin-left: 15px;
}
#header div.top_h .top_L li a.active{
	color: #293c73;
	}
#header div.top_h .top_R{
	width: 600px;
	float: right;
	margin-bottom: 5px;
}
#header div.top_h .top_R .top_body{
	width: 600px;
	position: relative;
}
#header div.top_h .top_R .top_body ul{
	width: 300px;
}
#header div.top_h .top_R .top_body li{
	float: left;
}
#header div.top_h .top_R .top_body li:after{
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	position: absolute;
	top: 18px;
	background-color: #ccc;
}
#header div.top_h .top_R .top_body li:first-child:after{
	display: none;
}
#header div.top_h .top_R .top_body li a{
	display: block;
	text-align: center;
	line-height:35px;
	color: #ccc;
	padding:5px;
	font-size: 12px;
	margin-right: 10px;
	margin-left: 10px;
}
#header div.top_h .top_R .top_body .snsimg{
	width: 150px;
	position: absolute;
	right: 210px;
	top:8px;
}
#header div.top_h .top_R .top_body .country{
	position: absolute;
  	right: 120px;
  	top: 6px;
}
#header div.top_h .top_R .top_body .country select{
	width: 110px;
	height: 29px;
	font-size: 15px;
	padding-left: 12px;
	/*border: 0 none;*/
	background:url(../images/sel_arr.gif) no-repeat 100% 50%;
	-webkit-appearance:none;
}
#header div.bot_h{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#header div.bot_h .logo{
	width: 300px;
	float: left;
	margin: 0 auto;
}
#header div.bot_h .logo img{
	display: block;
}
#header div.bot_h .menu{
	width: 800px;
	/*background-color: #ccc;*/
	float: left;
	margin-top: 10px;
}
#header div.bot_h .menu li{
	float: left;
	width: 160px;
}
#header div.bot_h .menu li a{
	display: block;
	text-align: center;
	line-height:35px;	
}
#mid_con{
	width: 100%;
	margin: 0 auto;
}
#mid_con .ediya{
	width: 100%;
	height: 230px;
	background-image: url(../images/EDIYA.jpg);
}
#mid_con .ediya a{
	display: block;
	/*text-align: center;*/
	line-height: 30px;
	padding-top: 120px;
	padding-left: 705px;
	color: #fff;
	font-weight: bold;
}
#mid_con .ediya_menu{
	width: 100%;
	height: 500px;
	background-color: #ccc;
	position: relative;
}
#mid_con .ediya_menu a.btn{
	width: 100px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	border: 1px solid #000;
	background-color: rgba(0,0,0,0);
	position: absolute;
	top: 220px;
	left: 47%;
}
#mid_con .ediya_menu a.btn:hover{
	border: 1px solid blue;
	background-color: blue;
	color: #fff;
	font-weight: bold;
}
#mid_con .ediya_animation{
	width: 100%;
	height: 800px;
	background-color: #000;
	margin:0 auto;
	position: relative;
}
#mid_con .ediya_animation .bt1{
	width: 170px;
	height: 170px;
	display: block;
	background-color: #fff;
	border-radius: 150px;
	position: absolute;
	top: 400px;
	left: 350px;
}
#mid_con .ediya_animation .bt1:hover{
	animation-name: bt1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes bt1{
	from{
		width: 170px;
		height: 170px;
		top: 400px;
	}
	to{
		width: 170px;
		height: 170px;
		top: 430px;
	}
}

#mid_con .ediya_animation .bt2{
	width: 170px;
	height: 170px;
	display: block;
	background-color: #fff;
	border-radius: 150px;
	position: absolute;
	top: 250px;
	left: 860px;
}
#mid_con .ediya_animation .bt2:hover{
	animation-name: bt2;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes bt2{
	from{
		width: 170px;
		height: 170px;
		top: 250px;
	}
	to{
		width: 170px;
		height: 170px;
		top: 280px;
	}
}

#mid_con .ediya_animation .bt3{
	width: 170px;
	height: 170px;
	display: block;
	background-color: #fff;
	border-radius: 150px;
	position: absolute;
	top: 400px;
	left: 1350px;
}
#mid_con .ediya_animation .bt3:hover{
	animation-name: bt3;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes bt3{
	from{
		width: 170px;
		height: 170px;
		top: 400px;
	}
	to{
		width: 170px;
		height: 170px;
		top: 430px;
	}
}
#mid_con .ediya_animation p{
	width: 130px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 200px;
	left: 15px;
	text-align: center;
	line-height: 30px;
	}
#mid_con .ediya_animation p:first-child{
	width: 140px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 180px;
	left: 15px;
	text-align: center;
	line-height: 30px;
	}

#mid_con .ediya_lab{
	width: 100%;
	height: 860px;
	background-color: #fff;
	position: relative;
	z-index: 1;
}
#mid_con .ediya_lab .lab img{
	display: block;
	position: absolute;
	right: 650px;
	top: 100px;
}
#mid_con .ediya_lab .lab:after{
	content: "";
	display: block;
	width: 130px;
	height: 1px;
	background-color: blue;
	position: absolute;
	right: 880px;
	top: 270px;
}
#mid_con .ediya_lab{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
#mid_con .ediya_lab .img1{
	width: 630px;
	height: 640px;
	position: absolute;
	overflow: hidden;
	right: 350px;
	top: 400px;
}
#mid_con .ediya_lab .bar{
	width: 135px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	bottom: 50px;
	left: 260px;
	transform: scaleX(0);
	transition: 0.3s;
}
#mid_con .ediya_lab .img1 .txt{
	display: block;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	bottom: 75px;
	left: 283px;
}
#mid_con .ediya_lab .img1:hover img{
	width: 630px;
	height: 640px;
	transform: scale(1.1,1.1);
	transition: 0.3s;
}
#mid_con .ediya_lab .img1:hover .bar{
	transform: scaleX(1);
}
#mid_con .ediya_lab .img2{
	width: 630px;
	height: 640px;
	position: absolute;
	left: 350px;
	top: 350px;
	overflow: hidden;
}
#mid_con .ediya_lab .img2 .txt{
	display: block;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	bottom: 75px;
	left: 274px;
}
#mid_con .ediya_lab .img2:hover img{
	width: 630px;
	height: 640px;
	transform: scale(1.1,1.1);
	transition: 0.3s;
}
#mid_con .ediya_lab .img2:hover .bar{
	transform: scaleX(1);
}

#mid_con .ediya_f{
	width: 100%;
	background-color: #ccc;
	
}
#mid_con .ediya_f .ediya_f_b{
	width: 1300px;
	height: 700px;
	margin: 0 auto;
	position: relative;
}
#mid_con .ediya_f .ediya_f_b li{
	float: left;
}

#mid_con .ediya_f .ediya_f_b li:nth-child(1){
	background-image: url(../images/ediya1.jpg);
	margin-top: 250px;
	margin-right: 10px;
	margin-left: 40px;
}
#mid_con .ediya_f .ediya_f_b li:nth-child(2){
	background-image: url(../images/ediya2.jpg);
	margin-top: 250px;
	margin-right: 10px;
}
#mid_con .ediya_f .ediya_f_b li:nth-child(3){
	width: 500px;
	height: 350px;
	background-color: #fff;
	margin-top: 250px;
}
#mid_con .ediya_f .ediya_f_b li .card{
	width: 350px;
	height: 350px;
	background-color: rgba(0,0,0,0.5);
}
#mid_con .ediya_f .ediya_f_b .card-title{
	position: relative;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	font-weight:bold;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 15px;
}
#mid_con .ediya_f .ediya_f_b .card-title.bar:after{
	content:"";
	display:block;
	width: 50px;
	height: 2px;
	position: absolute;
	background-color: #fff;
	margin-top: 15px;
}
#mid_con .ediya_f .ediya_f_b .card-txt{
	font-size:15px;
	font-weight: bold;
	color: #fff;
	padding-left: 35px;
	padding-top: 20px;
}
#mid_con .botlogo{
	width: 100%;
	height: 400px;
	background-color: #fff;
	position: relative;
}
#mid_con .botlogo img{
	display:block;
	position: absolute;
	top: 120px;
	left: 750px;
}
section#coffee_menu{
	width: 100%;
	/*margin: 0 auto;*/
}
#coffee_menu nav.menu_banner{
	width: 100%;
	height: 470px;
	background: url(../images/menu_int.jpg) no-repeat;
	position: relative;
	margin:0 auto;
}
nav.menu_banner h1{
	text-align: center;
	color: #fff;
	line-height: 100px;
	margin: 0 auto;
	font-size: 50px;
	position: absolute;
	top: 150px;
	left: 850px;

}
nav.menu_banner .menu_name{
	width: 900px;
	/*height: 470px;*/
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	left: 26%;
}
nav.menu_banner .menu_name:after{
	content: "";
	display: block;
	width: 900px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -10px;
}
.menu_name li{
	float: left;
	width: 180px;
	border: 1px solid #fff;
}
.menu_name li a{
	display: block;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.menu_name li a:hover{
	background-color: #fff;
	color: #000;
}
.menu_name li a.active{
	background-color: #fff;
	color: #000;
}
.line{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 30px;
}
.line h1{
	width: 1000px;
	padding-left: 453px;
	padding-top: 20px;
}
.line .line1:after{
	content: "";
	display: block;
	width: 420px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 38px;
	right:20px;
}
.line .line2:after{
	content: "";
	display: block;
	width: 420px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 38px;
	left:20px;
}

.top_r{
	width: 960px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}
.top_r p{
	color: #8b8b8b;
	position: absolute;
	right: 0;
	top: 35px;
	font-size: 13px;
	font-weight: bold;
}
.menu_slide{
	width: 900px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 100px;
}
.menu_slide .slick-prev{
	background:url(../images/pre.jpg) no-repeat; 
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	border: none;
	outline: none;
	position: absolute;
	top: 200px;
	left: -60px;
}
.menu_slide .slick-next{
	background:url(../images/next.jpg) no-repeat; 
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	border: none;
	outline: none;
	position: absolute;
	top: 200px;
	right: -50px;
}
.menu_slide img{
	display: block;
	margin-right: 20px;
}
.menu_slide img:last-child{
	margin-right: 0px;
}
#coffee_menu .check{
	width: 1000px;
	line-height: 80px;
	border: 1px solid #000;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
	cursor: pointer;
}
#coffee_menu .check input{
	margin-left: 25px;
}

#coffee_menu .menu_all{
	width: 1000px;
	height: 800px;
	margin: 0 auto;
}
#coffee_menu .menu_all ul li{
	float: left;
	width: 240px;
	height: 350px;
	margin-left: 7px;
	margin-bottom: 7px;
	background-color: #f5f5f5;
	overflow: hidden;
}
#coffee_menu .menu_all ul li img{
	display: block;
	margin-left: 20px;
	margin-top: 20px;
	transform: scale(1,1);
	transition: 0.3s;
}
#coffee_menu .menu_all ul li img:hover{
	transform: scale(1.2,1.2);
}


.foot{
	width: 100%;
	background-color: #262626;
	border-bottom: 1px solid #535353;
}
.foot .last{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}
.last li{
	width: 125px;
	float: left;
}
.last ul li a{
	color: #535353;
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 70px;
}
.last ul li a.active{
	color: #fff;
}
footer#footer{
	width: 100%;
	background-color: #262626;
	border-bottom: 1px solid #535353;
	position: relative;
}
footer#footer .foot_img{
	width: 1300px;
	height: 200px;
	background-color: #262626;
}
footer#footer .foot_img img{
	display: block;
	position: absolute;
	top: 5px;
	left: 460px;
}