@charset "utf-8";

header#h_wrap{
	width: 100%;
	position: relative;
	margin: 0 auto;
}
#header .slider_bar{
	width: 100%;
	margin: 0 auto;
}
.slider_bar{
	position: relative;
}
.slider_bar .preBtn, .nextBtn{
	position: absolute;
	top: 300px;
	opacity: 0.5;
}
.preBtn{
	left: 0;
}
.nextBtn{
	right: 0;
}
#h_wrap .top_bg{
	width: 100%;
	height: 400px;
	background:url(../images/top_bg.jpg) no-repeat center;
	position: relative;
}
.head_top{
	width: 100%;
	position: absolute;
	top: 0;
	margin: 0 auto;
	/*background-color: pink;*/
}
.head_top .mid_top{
	width: 1300px;
	margin: 0 auto;
}
.mid_top .logo{
	float: left;
	width: 120px;
	height: 70px;
	padding-left: 100px;
}
.mid_top .logo h1{
	display: block;
	text-align: center;
	line-height: 70px;
	color: #fff;
}
.menu_full{
	position: relative;
}
.menu_body{
	width: 1000px;
	height: 70px;
	/*background-color: #ccc;*/
	/*margin: 0 auto;*/
	float: right;
}
.menu_body ul{
	width: 800px;
	float: left;
}
.menu_body li{
	width: 133.33px;
	height: 70px;
	float: left;
	/*background-color: #ccc;*/
}
.menu_body li a{
	display: block;
	text-align: center;
	line-height: 80px;
	font-size: 15px;
	font-weight: bold;
}
.menu_right{
	width: 102px;
	float: right;
	/*background-color: #ccc;*/
	text-align: center;
	line-height: 70px;
	position: absolute;
	top: 15px;
	right: 0;
	border: 1px solid #b8307c;
}
.menu_right .kor{
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #fff;
}
.menu_right .kor.active{
	background-color: #b8307c;
}
.menu_right .eng{
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #fff;
}

.menu_right .eng:hover{
	background-color: #b8307c;
}


.top_bg .sub_name h1{
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -20px;
	color: #fff;
	text-align: center;
}
.top_bg .sub_name p{
	position: absolute;
	top: 240px;
	left: 50%;
	margin-left: -80px;
	color: #fff;
	font-size: 13px;
	text-align: center;
}
.sub_menu{
	width: 1250px;
	background-color: #ccc;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 15%;
}
.sub_menu li{
	float: left;
	width: 312.5px;
	border: 1px solid #000;
	border-bottom: 2px solid #b8307c;
}
.sub_menu li .active{
	background-color: #b8307c;
	color: #fff;
}
.sub_menu li a{
	line-height: 50px;
	display: block;
	text-align: center;
}

#body_box{
	width: 100%;
	margin: 0 auto;
}
.mid_box{
	width: 1300px;
	position: absolute;
	top: 76%;
	left: 16%;
	margin:0 auto;
}
@media screen and (max-width: 959px){
	.mid_box{
		position: absolute;
		top: 30.2%;
		left: 10%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 567px){
	.mid_box{
		position: absolute;
		top: 0%;
		left: 10%;
		margin: 0 auto;
	}
}
.mid_box li{
	float: left;
	width: 25%;
	margin: 0 auto;
}

.mid_box li:nth-child(1){
	height: 300px;
}
.mid_box li:nth-child(2){
	height: 300px;
}
/*nth-child(2n)짝수만 색을 넣어주겠다*/
.mid_box li:nth-child(3){
	width: 50%;
	height: 300px;
}
.news{
	position: relative;
	background-color: #fff;
	padding-top: 30px;
	padding-left: 30px;
	font-weight: bold;
}
.news h3{
	width: 325px;
	z-index: 1;
	position: relative;
}
.news .slider2 .left:after{
	content: "";
	border-width: 20px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	left: 290px;
	top: 50px;
	z-index: 1;
}
.news .slider_2{
	position: absolute;
	top: 0px;
	left: 0px;
}
.news .slider_2 .bx-wrapper{
	width: 650px;
}
.news .slider2 li{
	width: 630px;
}
.news .slider2 li div{
	width: 325px;
	height: 300px;
	float: left;
}
.news .slider2 li div.left{
	position: absolute;
	left: 33px;
	top: 80px;
}
.news .slider2 li div.right{
	float: right;
}
.news .btn2{
	position: absolute;
	bottom: 0;
	right: 325px;
}
.news .btn2 img{
	display: block;
	float: left;
	width: 35px;
	border: 1px solid #cdcdcd;
}
.news .btn2 img:first-child{
	border-right: 1px solid #fff;
}
/*
.news:after{
	content: "";
	position: absolute;
	border-style: solid;
	top: 50%;
	_margin-top: -20px;
	transform: translateY(-50%);/*얘도 가운데 정렬할때 씀
	right: -40px;
	border-width: 20px;
	border-color: transparent transparent transparent white;
	display: block;
}*/
.mid_box li:nth-child(4){
	height: 300px;
}
.mid_box li:nth-child(5){
	height: 300px;
	background-color: #413d3e;
}
.mid_box li:nth-child(6){
	width: 50%;
	height: 300px;
	background-image: url(../images/img03.jpg);
}
.mid_box .card{
	width: 325px;
	height: 300px;
	position: relative;
}
.mid_box .card_body{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 40px;
	top: 40px;
}
.mid_box .card_body h5{
	color: #fff;
	padding-bottom: 15px;
}
.mid_box .card_body .box{
	width: 50px;
	height: 2px;
	background-color: #fff;
	left: 20px;
	margin-bottom: 20px;
}
.mid_box .card_body p{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}
.mid_box li:nth-child(7){
	height: 600px;
	background-image: url(../images/img06.jpg);
}
.mid_box li:nth-child(8){
	width: 50%;
	height: 300px;
	background-image: url(../images/img04.jpg);
	color: #424348;
}
.mid_box .card_body1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 40px;
	top: 40px;
}
.mid_box .card_body1 h5{
	color: #424348;
	padding-bottom: 15px;
}
.mid_box .card_body1 .box{
	width: 50px;
	height: 2px;
	background-color: #424348;
	left: 20px;
	margin-bottom: 20px;
}
.mid_box .card_body1 p{
	font-size: 30px;
	color: #424348;
	font-weight: bold;
}
.mid_box li:nth-child(9){
	height: 300px;
	background-color: #b8307c;
}
.mid_box li:nth-child(10){
	height: 300px;
	background-color: #413d3e;
}
.mid_box li:nth-child(11){
	width: 50%;
	height: 300px;
	background-image: url(../images/img05.jpg);
}
section#sec_body{
	width: 100%;
	margin: 0 auto;
}
#sec_body .vision{
	height: 700px;
	background: url(../images/sec_bg.jpg) no-repeat center fixed;
	background-attachment: fixed;/*모바일사용x*/
	background-size: cover;
	margin-bottom: 20px;
}
.vision_con{
	width: 1260px;
	margin: 0 auto;
	padding-top: 70px;
}
.vision_con h4{
	text-align: center;
	color: #fff;
}
.vision_con h4:after{
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background-color: #fff; 
	margin: 0 auto;
	margin-bottom: 10px;
}
.vision_con p{
	text-align: center;
	color: #fff;
	font-size: 12px;
	margin-bottom: 30px;
}
.vision_con ul{

}
.vision_con ul li{
	float: left;
	margin-right: 20px;
	transition: 0.3s;
}
.vision_con ul li:hover{
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	transform: translate(-10px,-10px);
}
.vision_con ul li:hover .card{
	transform: rotateZ(20deg);
}
.vision_con ul li:last-child{
	margin-right: 0;
}
.vision_con ul li .card{
	width: 300px;
	height: 380px;
	border-radius: 5px;
	padding-top: 45px;
	/*background-color: #ff0;*/
	cursor: pointer;
}
.vision_con ul li .card img{
	display: block;
	margin: 0 auto;
}
.vision_con ul li .card-body{
	text-align: center;
}
.vision_con ul li .card .card-title{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}
.vision_con ul li .card p{
	color: #fff;
	font-size:12px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}
.sns_tab{
	width: 1260px;
	height: 630px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 40px;
}
.sns_tab li{
	float: left;
	width: 315px;
	height: 315px;
}
.sns_tab li .card{
	
}
.sns_tab li .card_txt{
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 30px;
}

/* .sns_tab li .card_txt:after{
	content: "";
	display: block;
	position: absolute;
	bottom: 50%;
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent #fff transparent;
} */

.sns_tab li:nth-child(1){
	background:url(../images/sns_img.jpg) no-repeat;
}
.sns_tab li:nth-child(2){
	background:url(../images/img02_01.jpg) no-repeat;
}
.sns_tab li:nth-child(3){
	background-color: #e7e7e7;
}
.sns_tab li:nth-child(3):after{
	content: "";
	display: block;
	position: absolute;
	bottom: 50%;
	left: 770px;
	margin-bottom: -40px;
	border-style: solid;
	border-width: 20px;
	border-color: #e7e7e7 transparent transparent transparent;
}

.sns_tab li:nth-child(4){
	background:url(../images/img02_02.jpg) no-repeat;
}
.sns_tab li:nth-child(5){
	background-color: #2e4d8e;
}
.sns_tab li:nth-child(6){
	background-color: #e7e7e7;
}
.sns_tab li:nth-child(6):after{
	content: "";
	display: block;
	position: absolute;
	bottom: 50%;
	left: 450px;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent #e7e7e7 transparent;
}
.sns_tab li:nth-child(7){
	background:url(../images/img02_03.jpg) no-repeat;
}
.sns_tab li:nth-child(8){
	background-color: #e7e7e7;
}
.sns_tab li:nth-child(8):after{
	content: "";
	display: block;
	position: absolute;
	bottom: 50%;
	left: 1085px;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent #e7e7e7 transparent;
}

.last{
	width: 1260px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 30px;
}
.last li{
	float: left;
	width: 630px;
	height: 300px;
}
.last li:nth-child(1){
	background-image: url(../images/last1.jpg);
}
.last li:nth-child(2){
	background-image: url(../images/last2.jpg);
}
.last .card{
	width: 300px;
	height: 150px;
	margin-left: 30px;
	color: #fff;
}
.last .card_title{
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
}
.last .card_title:after{
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 85px;
}
.last .card_txt{
	font-size: 15px;
	margin-bottom: 20px;
}

.btn{
	width: 150px;
	height: 50px;
	border: 1px solid #fff;
	display: block;
	cursor: pointer;

}
.btn a{
	text-align: center;
	line-height: 45px;
	color: #fff;
	padding-left: 35px;
}

#footer{
	width: 100%;
	height: 200px;
/*	background-color: #ccc;*/
	border-top: 1px solid #000;

}
#footer .ft{
	width: 1250px;
	margin: 0 auto;
}
#footer .ft h1{
	width: 200px;
	height: 200px;
	float: left;
	line-height: 50px;
}
.ftmenu{
	width: 1050px;
	height: 40px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 10px;
}
.ftmenu li{
	width: 120px;
	float: left;
}
.ftmenu li:after{
	content: "";
	display: block;
	width: 1px;
	height: 15px;
	background-color: #000;
	position: absolute;
	top: 15px;
	padding-left:-50px;
}
.ftmenu li:first-child:after{
	display: none;
}
.ftmenu li a{
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
}
.cp p{
	width: 1100px;
}
section#sub_body{
	width: 100%;
}
.mini-top{
	width: 1250px;
	margin: 0 auto;
}
.mini-top i{
	color: #b8307c;
	padding: 20px 10px;
}
.mini-top a:last-child{
	color: #b8307c;
	font-weight: bold;
}