@charset "utf-8";

header#h_wrap{
	width: 100%;
	position: relative;
	margin: 0 auto;
}
#header .slider_bar{
	width: 100%;
	margin: 0 auto;
}
.slider_bar{
	position: relative;
}
.slider_bar .preBtn, .nextBtn{
	position: absolute;
	top: 300px;
	opacity: 0.5;
}
.preBtn{
	left: 0;
}
.nextBtn{
	right: 0;
}

.head_top{
	width: 100%;
	position: absolute;
	top: 0;
	margin: 0 auto;
	/*background-color: pink;*/
}
.head_top .mid_top{
	width: 1300px;
	margin: 0 auto;
}
.mid_top .logo{
	float: left;
	width: 120px;
	height: 70px;
	padding-left: 100px;
}
.mid_top .logo h1{
	display: block;
	text-align: center;
	line-height: 70px;
	color: #fff;
}
.menu_body{
	width: 1000px;
	height: 70px;
	/*background-color: #ccc;*/
	/*margin: 0 auto;*/
	float: right;
}
.menu_body ul{
	width: 800px;
	float: left;
}
.menu_body li{
	width: 133.33px;
	height: 70px;
	float: left;
	/*background-color: #ccc;*/
}
.menu_body li a{
	display: block;
	text-align: center;
	line-height: 80px;
	font-size: 15px;
	font-weight: bold;
}
.menu_right{
	width: 150px;
	float: right;
	background-color: #ccc;
	text-align: center;
	line-height: 70px;
}


#body_box{
	width: 100%;
	margin: 0 auto;
}
.mid_box{
	width: 1300px;
	position: absolute;
	top: 713px;
	left: 16%;
	margin:0 auto;
}
.mid_box li{
	float: left;
	width: 25%;
}

.mid_box li:nth-child(1){
	height: 300px;
	background-color: #92c1d5;
}
.mid_box li:nth-child(2){
	height: 300px;
}
/*nth-child(2n)짝수만 색을 넣어주겠다*/
.mid_box li:nth-child(3){
	width: 50%;
	height: 300px;
}
.thirdbox{
	width: 650px;
}
.news{
	background-color: #00f;
	width: 325px;
	height: 300px;
	position: relative;
	z-index: 1;
}
.news:after{
	content: "";
	position: absolute;
	border-style: solid;
	top: 50%;
	_margin-top: -20px;
	transform: translateY(-50%);/*얘도 가운데 정렬할때 씀*/
	right: -40px;
	border-width: 20px;
	border-color: transparent transparent transparent white;
	display: block;
}
.thirdbox .news_img{
	display: block;
	width: 325px;
	position: absolute;
	top: 0;
	right: 0;
}
.mid_box li:nth-child(4){
	height: 300px;
	background-color: #b8307c;
}
.mid_box li:nth-child(5){
	height: 300px;
	background-color: #413d3e;
}
.mid_box li:nth-child(6){
	width: 50%;
	height: 300px;
	background-image: url(../images/img03.jpg);
}
.mid_box .card{
	width: 325px;
	height: 300px;
	position: relative;
}
.mid_box .card_body{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 40px;
	top: 40px;
}
.mid_box .card_body h5{
	color: #fff;
	padding-bottom: 15px;
}
.mid_box .card_body .box{
	width: 50px;
	height: 2px;
	background-color: #fff;
	left: 20px;
	margin-bottom: 20px;
}
.mid_box .card_body p{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}
.mid_box li:nth-child(7){
	height: 600px;
	background-image: url(../images/img06.jpg);
}
.mid_box li:nth-child(8){
	width: 50%;
	height: 300px;
	background-image: url(../images/img04.jpg);
	color: #424348;
}
.mid_box .card_body1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 40px;
	top: 40px;
}
.mid_box .card_body1 h5{
	color: #424348;
	padding-bottom: 15px;
}
.mid_box .card_body1 .box{
	width: 50px;
	height: 2px;
	background-color: #424348;
	left: 20px;
	margin-bottom: 20px;
}
.mid_box .card_body1 p{
	font-size: 30px;
	color: #424348;
	font-weight: bold;
}
.mid_box li:nth-child(9){
	height: 300px;
	background-color: #b8307c;
}
.mid_box li:nth-child(10){
	height: 300px;
	background-color: #413d3e;
}
.mid_box li:nth-child(11){
	width: 50%;
	height: 300px;
	background-image: url(../images/img05.jpg);
}
section#sec_body{
	width: 100%;
	margin: 0 auto;
}
#sec_body .vision{
	height: 750px;
	background-image: url(../images/sec_bg.jpg);
}
.vision_con{
	width: 1260px;
	margin: 0 auto;
	padding-top: 70px;
}
.vision_con h4{
	text-align: center;
	color: #fff;
}
.vision_con h4:after{
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background-color: #fff; 
	margin: 0 auto;
}
.vision_con p{
	text-align: center;
	color: #fff
}
.vision_con ul{

}
.vision_con ul li{
	float: left;
	margin-right: 20px;
}
.vision_con ul li:last-child{
	margin-right: 0;
}
.vision_con ul li .card{
	width: 300px;
	height: 380px;
	background-color: #f0f;
	border-radius: 5px;
	padding-top: 45px;
}
.vision_con ul li .card img{
	display: block;
	margin: 0 auto;
}
.vision_con ul li .card-body{
	text-align: center;
	padding: 15px;
}
.vision_con ul li .card .card-title{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}
.vision_con ul li .card p{
	color: #000;
	font-size:12px;
}