@charset "utf-8";
*{
	/*bx+tab 누르면 자동생성된다*/
	-webkit-box-sizing : border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clear{
	clear: both;
	display: block;
	content: "";
}
.box1{
	width: calc(60px - 10px);
	height: 50px;
	margin: 5px;
	background-color: #ffaaff;
	float: left;
}
.box2{
	width: calc(10% - 10px);
	height: 100px;
	margin: 5px;
	background-color: #aaffff;
	float: left;
}