@charset "utf-8";

header#top_menu{}

#top_menu nav.menu{
	background-color: #0044af;
}
nav.menu div.menu1{
	width: 1200px;
	margin: 0 auto;
}
div.menu1 .left_menu li{
	float: left;
	background-color: #00163b;
	margin-right: 2px;
}
div.menu1 .left_menu li a{
	text-align: center;
	display: block;
	line-height: 30px;
	padding: 0 30px;
	font-size: 14px;
	color: #fff;
}
div.menu1 .left_menu li a.active{
	background-color: #fff;
	color: #aaa;
}

div.menu1 .right_menu li{
	float: right;
}
div.menu1 .right_menu li a{
	padding: 0 15px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}

div.main_menu{
	/*background-color: pink;*/
}
div.main_menu nav.mm{
	width: 1200px;
	margin: 0 auto;
}
nav.mm .logo{
	width: 250px;
	height: 90px;
	float: left;
}
nav.mm div.menu_aa{
	float: right;
}
div.menu_aa li{
	float: left;
	width: 135.71px;
}
div.menu_aa li a{
	display: block;
	text-align: center;
	line-height: 50px;
	margin-top:20px; 
}



section#sec{
		background:#558fce url(../images/bg_01.jpg) no-repeat center;
		padding-bottom: 19px;
}
#sec .con{
	width: 1200px;
	height: 260px;
	margin: 0 auto;
	padding-top: 60px;
}
.con .title{
	float: left;
}
.con .title span{
	font-size: 45px;
	color: #fff;
}
.con .title h1{
	font-size: 55px;
	color: #fff;
}
.con .con_icon{
	float: right;
	padding-top: 10px;
}
.con_icon li{
	float: left;
	width: 90px;
	height: 90px;
	border: 2px solid #fff;
	border-radius: 50px;
	margin-right: 20px;
}
.con_icon li:last-child{
	margin-right: 0px;
}
.con_icon img{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.con_icon p{
	width: 100px;
	text-align: center;
	margin-top: 15px;
	padding-right: 10px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.ctn_wrap{
	width: 1200px;
	margin: 0 auto;
}

.ctn_wrap li .slid_bar{
	position: relative;
}
.slid_bar div.prevBtn, .ctn_wrap div.nextBtn{
	position: absolute;
	top: 0;
	margin-top: 180px;
	opacity: 0.5;
}
.slid_bar div.prevBtn{
	left: 0;
}
.slid_bar div.nextBtn{
	right: 0;
}


.ctn_wrap li{
	float: left;
	width: 25%
}
.ctn_wrap li:nth-child(1){
	width: 75%;
	height: 450px;
}
.ctn_wrap li:nth-child(2){
	height: 450px;
	background-image: url(../images/banner_01.jpg);
}
.ctn_wrap li .banner01{
	padding-top: 80px;
	padding-left: 40px;
	color: #fff;
}
.ctn_wrap li .banner_txt{
	font-size: 30px;
	margin-bottom: 20px;
}
a.btn{
	width: 150px;
	display: block;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,0.6);/*투명도 조절*/
	/*opacity: 0.5; 얘는 글자까지 같이 투명해짐*/
	border-radius: 20px;
	margin-top: 20px;
	padding-right: 0;
}
.ctn_wrap li .aa_icon h3{
	font-weight: bold;
	color: #fff;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
}
.ctn_wrap li:nth-child(3){
	height: 230px;
	background-color: #00163b;
	margin:0 auto;
}
.ctn_wrap li .aa_icon .bb_icon div{
	float: left;
	width: 90px;
	margin-top: 10px;
}
.ctn_wrap li .aa_icon .bb_icon img{
	display: block;
}
.ctn_wrap li .aa_icon .bb_icon p{
	color: #fff;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	padding-top: 5px;
}
.ctn_wrap li .aa_icon .bb_icon div{
	padding-left: 30px;
}

.ctn_wrap li:nth-child(4){
	height: 230px;
	background-color: #1651b7;
}
.ctn_wrap li:nth-child(5){
	height: 230px;
	background-color: #fff;
	position: relative;
}
.ctn_wrap li h3{
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 20px;
}
.ctn_wrap li .pic{
	position: relative;
}
.ctn_wrap li .pic img{
	display: block;
	width: 140px;
	height: 100px;
	position: absolute;
	left: 0;
	padding-left: 10px;
}
.ctn_wrap li .pic p{
	text-align: left;
	font-size: 14px;
	width: 140px;
	position: absolute;
	right: 0;
	padding-right: 10px;
	padding-top: 3px;
}

.ctn_wrap li .snsimg2{
	width: 140px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	right: 10px;
}
.ctn_wrap li .snsimg2 a{
	display: block;
	float: left;
	margin-right: 5px;
}


.ctn_wrap li:nth-child(6){
	background-image: url(../images/school02.jpg);
	width: 25%;
	height: 230px;
	position: relative;	
}
.ctn_wrap li .box{
	width: 300px;
	height: 50px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
}
.ctn_wrap li .box h4{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
}

.ctn_wrap li:nth-child(7){
	width: 25%;
	height: 230px;
	background-image: url(../images/video.jpg);
}
.ctn_wrap li:nth-child(8){
	width: 75%;
	height: 230px;
	overflow: hidden;
}

.foot_date{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #fff;
}
.foot_date li{
	float: left;
	width: 25%
}
.foot_date li:nth-child(1){
	width: 25%;
	height: 50px;
	border-right: 2px solid #ccc;
}
.foot_date li .plane{
	margin: 0 auto;
}
.foot_date li .plane p{
	text-align: center;
	line-height: 50px;
}

.foot_date li:nth-child(2){
	width: 75%;
	height: 50px;
}


.bottom_slid_bar{
	width: 800px;
	background-color: pink;
}

.foot_date .bt_slide_bar p{
	text-align: center;
	line-height: 50px;
}
.slider_pager_bar{
	position: relative;
}
.slider_bt{
	width: 25px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0;
}
.slider_bt .prevBtn1 {
	border-bottom: 1px solid #ccc;
}
.slider_bt img {
	display: block;
}

.ft_menu{
	width: 900px;
	height: 100px;
	background-color: #fff;
	margin: 0 auto;
	padding-top: 20px;
}
.ft_menu li{
	float: left;
	position: relative;
}
.ft_menu li:after{
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	background-color: #000;
	position: absolute;
	top: 10px;
}
.ft_menu li:first-child:after{
	display: none;
}
.ft_menu li a{
	padding: 15px;
	text-align: center;
}
.ft_p{
	padding-top: 10px;
}
.ft_p p{
	text-align: center;
	height: 20px;
}