@charset "utf-8";

@media all and (max-width: 1665px){
	.line_box3{
		left: 500px;
	}
}
@media all and (max-width: 1490px){
.line_box1{
	width: 250px;
	position: absolute;
	left: 320px;
	top: 193px;
}
.line_box2{
	width: 250px;
	position: absolute;
	left: 225px;
	bottom: 180px;
}
.line_box3{
	width: 250px;
	position: absolute;
	left: 510px;
	bottom: -34px;
}
.line_box4{
	width: 250px;
	position: absolute;
	right: 182px;
	bottom: 174px;
}

.line_box5{
	width: 250px;
	position: absolute;
	right: 212px;
	top: 191px;
}

}
@media all and (max-width: 1210px){
.five_box{
	height: auto;
}
.five_box .f_box{
	display: block;

}
.five_box .f_box .main_box{
	margin: 0 auto !important;
	width: 0 !important;

}
.five_box .f_box .main_box:nth-child(9),.five_box .f_box .main_box:nth-child(27),.five_box .f_box .main_box:nth-child(32){
	height: 0 !important;
}
.five_box .f_box .main_box:nth-child(4),.five_box .f_box .main_box:nth-child(15),.five_box .f_box .main_box:nth-child(19),.five_box .f_box .main_box:nth-child(41),.five_box .f_box .main_box:nth-child(45){
	width: 300px !important;
	margin-bottom: 50px !important;
}

.line_box1{
	width: 70px;
	position: absolute;
	left: 45%;
	top: 20%;
	transform: rotate(90deg)translate(-50%, 0%);
}
.line_box1 .in_color{
	right:100%; 

}
.line_box1 .in_color.active{
	right:0%;
}
.line_box2{
	width: 70px;
	position: absolute;
	left: 45%;
	top: 42%;
	transform: rotate(90deg)translate(-50%, 0%);
}
.line_box3{
	width: 70px;
	position: absolute;
	left: 45%;
	top: 62%;
	transform: rotate(90deg)translate(-50%, 0%);
}
.line_box4{
	width: 70px;
	position: absolute;
	left: 45%;
	top: 83%;
	transform: rotate(90deg)translate(-50%, 0%);
}

.line_box5{
	display: none;
}

}
@media all and (max-width: 1000px){
.line_box1{
	left: 40%;
}
.line_box2{
	left: 40%;
}
.line_box3{
	left: 40%;
}
.line_box4{
	left: 40%;
}
}

@media all and (max-width: 760px){
	header{
		height:auto;
	}
	.headerT{
		width:100%; 
		height:100%; 
		position:relative; 
		background-color: #ffd000;
	}
	.logo{
		display: block; 
		float:none;
		line-height:30px;
	}
	.logo img{opacity:0;}
	.logo_img{
		display: none;
	}

	.res_btn{
		display: block;
		position:absolute;
		top:10px;
		left:10px;
	}
	.res_btn a{
		display: block;
		line-height:40px; 
		font-size:36px; 
		color:#000;
	}

	.menu{
		width:100%; 
		height:auto; 
		background:#ffd000; 
		background-color: rgba(255,255,255,0.5);
		float:none;
		margin:0;
		display:none;
	}
	.menu>ul{
		width:100%; 
		height:auto; 
		padding:10px;
	}
	.menu>ul>li{
		width: 100%;
		height: auto;
		float:none;
		border-bottom:1px solid #cfa000;
	}
	.menu>ul>li:last-child{
		border:none;
	}
	.menu>ul>li>a{
		display: block; 
		line-height:50px; 
		color:#000; 
		font-size:17px;
	}
	.menu>ul>li:hover>a{
		color:#272727;
	}
	.menu:hover>ul>li .sub_m{
		display: none;
	}

	.menu>ul>li:hover .sub_m{
		display: none;
	}

	.menu>ul>li>.sub_m{}
	.menu>ul>li>.sub_m>li{}
	.menu>ul>li>.sub_m>li>a{display: block; color:#373737; line-height:28px;}

}