@charset "utf-8";
/*color:ffd000*/
html, body{margin: 0; padding: 0;}
header{
	width: 100%;
	height: 70px;
}
.headerT{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 12px;
	background-color: #ffd000;
}
.logo{
	float:left;
	margin-left:5%;
	padding-top:20px;
}
.logo img{
	height:30px;
}
.logo_img{
	position: absolute;
	height: 100%;
	top:0;
	left:50%;
	transform: translate(-50%,0);
}
.logo_img img{
	height:calc(100% - 16px);
	margin-top:8px;
}
.sub_m{
	display: none;
}
.menu{
	height: auto;
	float:right;
	margin-right:5%;
}
.menu>ul{}
.menu>ul>li{
	float:left;
	/*
	vertical-align: top; 공란이 있을때 매꿔주는
	width: 100px;
	*/
}
.menu>ul>li>a{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	padding:0 20px;
	line-height:70px;
}
.menu>ul>li>a:hover{
	cursor: pointer;
}

.menu:hover>ul>li .sub_m{
	display: block;
}

.menu ul.sub_m{}
.menu ul.sub_m>li{}
.menu ul.sub_m>li>a{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #ffd000;
}
.menu ul.sub_m>li>a:hover{
	cursor: pointer;
}
.main{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	position: relative;
}
.main .main_top{
	width: 100%;
	height: 45%;
	/*background-color: #ccc;*/
	position: relative;
}
.main .main_top .font{
	width: 60%;
	height: 100%;
	position: absolute;
	left: 20%;
	vertical-align: middle;
	border: 1px solid #000;
	margin-bottom: 10px;
}
.main .main_slid{
	width: 80%;
	height: 45%;
	/*background-color: #aa0;*/
	position: relative;
	left: 10%;
	overflow: hidden;
	margin: 5px;
}
.main .main_slid li{
	width: calc(33.33% - 10px);
	height: 100%;
	float: left;
	/*background-color: #f0f;*/
	margin: 5px;
}
/*.main .main_slid .photo_slid{overflow: hidden;}*/
.main .main_slid .photo_slid img{
	width: 100%;
	height: 400px;
}
.photo_slid .slick-prev{
	position: absolute;
	top: 20px;
	z-index: -1;
}
.photo_slid .slick-next{
	position: absolute;
	bottom: 20px;
	z-index: -1;
}
.main .bottom_slid_bar{
	width: 80%;
	height: 10%;
	position: relative;
	left: 10%;
	margin-left: 5px;
	/*background-color: #fff;*/
}
.slid_bt .prevB{
	position: absolute;
	right: 0;
	top: 5%;
}
.slid_bt .nextB{
	position: absolute;
	right: 0;
	bottom: 35%;
}
.slide p{
	height: 50px;
	position: relative;
}
.slide p span{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}
.five_box{
	width: 100%;
	height: 80vh;
	position: relative;
}
.five_box .f_box{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	position: relative;
}
.five_box .f_box .main_box img{
	width: 250px;
	height: 200px;
}

.five_box .f_box .main_box:nth-child(4){
	background-color: #ffaa00;
	grid-row: 1/3;
	grid-column: 4/6;
}
.five_box .f_box .main_box:nth-child(9){
	/*background-color: #ffaaaa;*/
	grid-row: 2/4;
	grid-column: 2/4;
	width: 150px;
	height: 100px;
}
.five_box .f_box .main_box:nth-child(10){
	/*background-color: #0000ff;*/
	grid-row: 2/4;
	grid-column: 6/8;
}
.five_box .f_box .main_box:nth-child(15){
	background-color: #aaffff;
	grid-row: 4/6;
	grid-column: 1/3;

}
.five_box .f_box .main_box:nth-child(19){
	background-color: #00ffaa;
	grid-row: 4/6;
	grid-column: 7/9;
}
.five_box .f_box .main_box:nth-child(27){
	/*background-color: #00ffaa;*/
	width: 300px;
	height: 150px;
}
.five_box .f_box .main_box:nth-child(32){
	/*background-color: #ffaaff;*/
	width: 300px;
	height: 150px;
}
.five_box .f_box .main_box:nth-child(41){
	background-color: #ffaaaa;
	grid-row: 7/9;
	grid-column: 2/4;
}
.five_box .f_box .main_box:nth-child(45){
	background-color: #ff00aa;
	grid-row: 7/9;
	grid-column: 6/8;
}


#move_slide{
	width: 100%;
	height: 50vh;
	background-color: pink;
}

.line_box1{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	left: 374px;
	top: 175px;
	transform: rotate(-40deg);
	z-index: -1;
}
.line_box1 .in_box{
	width:100%;
	height:100%; 
	overflow:hidden; 
	position: relative;
}
.line_box1 .in_color{
	width:100%; 
	height:100%; 
	position:absolute; 
	right:-100%; 
	background:#ffff00; 
	transition: right 1s;
}
.line_box1 .in_color.active{
	right:0;
}
.line_box2{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	left: 280px;
	bottom: 150px;
	transform: rotate(60deg);
	z-index: -1;
}
.line_box3{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	left: 570px;
	bottom: 50px;
	transform: rotate(0deg);
	z-index: -1;
}
.line_box4{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	right: 230px;
	bottom: 180px;
	transform: rotate(-65deg);
	z-index: -1;
}
.line_box5{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	right: 327px;
	top: 180px;
	transform: rotate(37deg);
	z-index: -1;
}
