@charset "utf-8";
/*color:ffd000*/
html, body{margin: 0; padding: 0;}
header{
	width: 100%;
	height: 70px;
}
.headerT{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 12px;
	background-color: #ffd000;
}
.logo{
	float:left;
	margin-left:5%;
	padding-top:20px;
}
.logo img{
	height:30px;
}
.logo_img{
	position: absolute;
	height: 100%;
	top:0;
	left:50%;
	transform: translate(-50%,0);
}
.logo_img img{
	height:calc(100% - 16px);
	margin-top:8px;
}
.sub_m{
	display: none;
}
.menu{
	height: auto;
	float:right;
	margin-right:5%;
}
.menu>ul{}
.menu>ul>li{
	float:left;
	/*
	vertical-align: top; 공란이 있을때 매꿔주는
	width: 100px;
	*/
}
.menu>ul>li>a{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	padding:0 20px;
	line-height:70px;
}
.menu>ul>li>a:hover{
	cursor: pointer;
}

.menu:hover>ul>li .sub_m{
	display: block;
}

.menu ul.sub_m{}
.menu ul.sub_m>li{}
.menu ul.sub_m>li>a{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #ffd000;
}
.menu ul.sub_m>li>a:hover{
	cursor: pointer;
}
.main{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	position: relative;
}
.main .main_top{
	width: 100%;
	height: 45%;
	/*background-color: #ccc;*/
	position: relative;
}
.main .main_top .font{
	width: 60%;
	height: 100%;
	position: absolute;
	left: 20%;
	vertical-align: middle;
	background-color: #ccc;
	margin-bottom: 10px;
}
.main .main_slid{
	width: 80%;
	height: 45%;
	background-color: #aa0;
	position: relative;
	left: 10%;
	overflow: hidden;
	margin: 5px;
}
.main .main_slid li{
	width: calc(33.33% - 10px);
	height: 100%;
	float: left;
	/*background-color: #f0f;*/
	margin: 5px;
}
.main .main_slid .photo_slid{overflow: hidden;}
.main .main_slid .photo_slid img{
	width: 100%;
	height: 400px;
}
.photo_slid .slick-prev{
	position: absolute;
	top: 20px;
	z-index: -1;
}
.photo_slid .slick-next{
	position: absolute;
	bottom: 20px;
	z-index: -1;
}
.main .bottom_slid_bar{
	width: 80%;
	height: 10%;
	position: relative;
	left: 10%;
	/*background-color: #fff;*/
}
.slid_bt .prevB{
	position: absolute;
	right: 10%;
	top: 0;
}
.slid_bt .nextB{
	position: absolute;
	right: 10%;
	bottom: 0;
}
.slide p{
	height: 50px;
	position: relative;
}
.slide p span{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}
.slick-slide{
	height: 300px;
}
.slick-track{width:1400% ! important;}