@charset "utf-8";
/*color:ffd000*/
html, body{margin: 0; padding: 0;}
header{
	width: 100%;
	height: 70px;
}
.headerT{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 12px;
	background-color: #ffd000;
}
.logo{
	float:left;
	margin-left:5%;
	padding-top:20px;
}
.logo img{
	height:30px;
}
.logo_img{
	position: absolute;
	height: 100%;
	top:0;
	left:50%;
	transform: translate(-50%,0);
}
.logo_img img{
	height:calc(100% - 16px);
	margin-top:8px;
}
.sub_m{
	display: none;
}
.menu{
	height: auto;
	float:right;
	margin-right:5%;
}
.menu>ul{}
.menu>ul>li{
	float:left;
	/*
	vertical-align: top; 공란이 있을때 매꿔주는
	width: 100px;
	*/
}
.menu>ul>li>a{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	padding:0 20px;
	line-height:70px;
}
.menu>ul>li>a:hover{
	cursor: pointer;
}

.menu:hover>ul>li .sub_m{
	display: block;
}

.menu ul.sub_m{}
.menu ul.sub_m>li{}
.menu ul.sub_m>li>a{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #ffd000;
}
.menu ul.sub_m>li>a:hover{
	cursor: pointer;
}
.main{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	position: relative;
}
section{
	margin-bottom: 20px;
}
.main .main_top{
	width: 100%;
	height: 45%;
	/*background-color: #ccc;*/
	position: relative;
}
.main .main_top .font{
	width: 60%;
	height: 100%;
	position: relative;
	left: 20%;
	vertical-align: middle;
	border: 1px solid #000;
	margin-bottom: 10px;
}
.main .main_top .font #texts{
	position: absolute;
	top: 50%;
	left: 25%;
	color: #000;
}
.main .main_slid{
	width: 80%;
	height: 45%;
	/*background-color: #aa0;*/
	position: relative;
	left: 10%;
	overflow: hidden;
	margin: 5px;
}
.main .main_slid li{
	width: calc(33.33% - 10px);
	height: 100%;
	float: left;
	/*background-color: #f0f;*/
	margin: 5px;
}
/*.main .main_slid .photo_slid{overflow: hidden;}*/
.main .main_slid .photo_slid img{
	width: 100%;
	height: 400px;
}
.photo_slid .slick-prev{
	position: absolute;
	top: 20px;
	z-index: -1;
}
.photo_slid .slick-next{
	position: absolute;
	bottom: 20px;
	z-index: -1;
}
.main .bottom_slid_bar{
	width: 80%;
	height: 10%;
	position: relative;
	left: 10%;
	margin-left: 5px;
	/*background-color: #fff;*/
}
.slid_bt .prevB{
	position: absolute;
	right: 0%;
	top: 0%;
}
.slid_bt .nextB{
	position: absolute;
	right: 0;
	bottom: 41%;
}
.slide p{
	height: 50px;
	position: relative;
	background-color: #fff;
}
.slide p span{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}
.five_box{
	width: 100%;
	height: 80vh;
	position: relative;
	margin-bottom: 100px;
}
.five_box .f_box{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	position: relative;
}

.five_box .f_box .main_box:nth-child(4){
	background-color: #ffaa00;
	grid-row: 1/3;
	grid-column: 4/6;
	background:url(../img/gift.jpg);
	width: 300px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.five_box .f_box .main_box:nth-child(9){
	/*background-color: #ffaaaa;*/
	grid-row: 2/4;
	grid-column: 2/4;
	width: 150px;
	height: 100px;
}
.five_box .f_box .main_box:nth-child(10){
	/*background-color: #0000ff;*/
	grid-row: 2/4;
	grid-column: 6/8;
}
.five_box .f_box .main_box:nth-child(15){
	background-color: #aaffff;
	grid-row: 4/6;
	grid-column: 1/3;
	background:url(../img/spring.jpg);
	width: 250px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 205px;

}
.five_box .f_box .main_box:nth-child(19){
	background-color: #00ffaa;
	grid-row: 4/6;
	grid-column: 7/9;
	background:url(../img/winter.jpg);
	width: 250px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 150px;
}
.five_box .f_box .main_box:nth-child(27){
	/*background-color: #00ffaa;*/
	width: 300px;
	height: 150px;
}
.five_box .f_box .main_box:nth-child(32){
	/*background-color: #ffaaff;*/
	width: 300px;
	height: 150px;
}
.five_box .f_box .main_box:nth-child(41){
	background-color: #ffaaaa;
	grid-row: 7/9;
	grid-column: 2/4;
	background:url(../img/summer.jpg);
	width: 250px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 200px;
}
.five_box .f_box .main_box:nth-child(45){
	background-color: #ff00aa;
	grid-row: 7/9;
	grid-column: 6/8;
	background:url(../img/fall.jpg);
	width: 250px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 200px;
}

.line_box1{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	left: 320px;
	top: 193px;
	transform: rotate(-39deg);
	z-index: -1;
}
.line_box1 .in_box{
	width:100%;
	height:100%; 
	overflow:hidden; 
	position: relative;
}
.line_box1 .in_color{
	width:100%; 
	height:100%; 
	position:absolute; 
	right:-100%; 
	background:#ffff00; 
	transition: right 1s;
}
.line_box1 .in_color.active{
	right:0;
}
.line_box2{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	left: 225px;
	bottom: 130px;
	transform: rotate(60deg);
	z-index: -1;
}
.line_box2 .in_box{
	width:100%;
	height:100%; 
	overflow:hidden; 
	position: relative;
}
.line_box2 .in_color{
	width:100%; 
	height:100%; 
	position:absolute; 
	left:-100%; 
	background:#ffff00; 
	transition: left 1s;
	transition-delay:1s;
}
.line_box2 .in_color.active{
	left: 0%;
}
.line_box3{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	left: 570px;
	bottom: -34px;
	z-index: -1;
}
.line_box3 .in_box{
	width:100%;
	height:100%; 
	overflow:hidden; 
	position: relative;
}
.line_box3 .in_color{
	width:100%; 
	height:100%; 
	position:absolute; 
	left: -100%;
	background:#ffff00; 
	transition: left 1s;
	transition-delay:2s;
}
.line_box3 .in_color.active{
	left: 0%;
}
.line_box4{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	right: 230px;
	bottom: 130px;
	transform: rotate(-67deg);
	z-index: -1;
}
.line_box4 .in_box{
	width:100%;
	height:100%; 
	overflow:hidden; 
	position: relative;
}
.line_box4 .in_color{
	width:100%; 
	height:100%; 
	position:absolute; 
	left: -100%;
	background:#ffff00; 
	transition: left 1s;
	transition-delay:3s;
}
.line_box4 .in_color.active{
	left: 0%;
}
.line_box5{
	height: 30px;
	width: 360px;
	background-color: red;
	position: absolute;
	right: 320px;
	top: 191px;
	transform: rotate(38deg);
	z-index: -1;
}
.line_box5 .in_box{
	width:100%;
	height:100%; 
	overflow:hidden; 
	position: relative;
}
.line_box5 .in_color{
	width:100%; 
	height:100%; 
	position:absolute; 
	left: 100%;
	background:#ffff00; 
	transition: left 1s;
	transition-delay:4s;
}
.line_box5 .in_color.active{
	left: 0%;
}

#moveslide{
	width: 100%;
	height: 100vh;
	background-color: yellow;
	margin: 0 auto;
	position: relative;
}
#moveslide .opcity_box{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}