@charset "utf-8";
header#header{
	width: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}
#header .h_top{
	width: 1500px;
	margin: 0 auto;
	/*border-bottom: 1px solid #ccc;*/
}
.h_top .logo{
	width: 150px;
	height: 150px;
	float: left;
}
.h_top .h_menu .left_menu ul>li .submenu{
	display: none;
}
.h_top .h_menu{
	float: right;
}
.h_top .h_menu .left_menu{
	float: left;
}
.h_top .h_menu .left_menu li{
	float: left;
	width: 250px;
}
.h_top>.h_menu>.left_menu>ul>li>a{
	display: block;
	text-align: center;
	line-height: 150px;
	font-weight: bold;
	font-family: 'Alatsi', sans-serif;
	font-size: 20px;
}
.h_top>.h_menu>.left_menu>ul:hover .submenu{
	display: block;
	border-top: 1px solid #ccc;
}

ul.submenu>li>a{
	display: block;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Alatsi', sans-serif;
	color: #ccc;
}
.h_top .h_menu .right_menu{
	float: right;
	width: 300px;
	height: 150px;
	/*background-color: #ccc;*/
	margin: 0 auto;
	position: relative;
}
.h_top .h_menu .right_menu .btn1{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100px;
	height: 50px;
	border-radius: 100px;
	background-color: #ffbc0d;
}
.h_top .h_menu .right_menu .btn1 a{
	display: block;
	text-align: center;
	line-height: 50px;
	font-family: 'Alatsi', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.h_top .h_menu .right_menu .btn2{
	position: absolute;
	top: 50px;
	left: 110px;
	width: 100px;
	height: 50px;
	border-radius: 100px;
	background-color: #264a36;
}
.h_top .h_menu .right_menu .btn2 a{
	display: block;
	text-align: center;
	line-height: 50px;
	font-family: 'Alatsi', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.h_top .h_menu .right_menu i{
	color: #000;
	font-size: 50px;
	position: absolute;
	top: 45px;
	right: 15px;
}

.banner{
	width: 100%;
	position: relative;
}
.banner .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.banner .bx-wrapper .bx-pager {
	display:none;
}
.banner .prebtn{
	position: absolute;
	top: 220px;
	left: 0;
}
.banner .nextbtn{
	position: absolute;
	top: 220px;
	right: 0;
}
.banner i{
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.3);
	font-size: 50px;
	color: #fff;
	padding-left: 10px;
}

section#section{
	width: 100%;
}
#section .body_box{
	width: 1300px;
	/*background-color: #ccc;*/
	margin: 0 auto;
}
.body_box li{
	float: left;
	width: 365px;
	height: 420px;
	/*background-color: skyblue;*/
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.body_box li .card{
}
.body_box li .card img{
	display: block;
}
.body_box li .card .txt{
	padding-left: 20px;
	font-size: 19px;
	padding-top: 20px;
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
}

#footer{
	width: 100%;
	height: 200px;
	background-color: #292929;
}
.foot{
	width:1300px;
	margin: 0 auto;
	position: relative;
}
.foot .p1{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 50px;
	left: 0px;
}
.foot .p2{
	color: #4b4b4b;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 50px;
	left: 160px;
}
.foot .sns{
	position: absolute;
	top: 70px;
	right: 100px;
}
.foot .sns i{
	font-size: 50px;
	color: #fff;
	padding-right: 10px;
}


/*sub menu*/
section#sub_menu{
	width: 100%;
}
#sub_menu .menu_top_bg{
	width: 100%;
	height: 200px;
	background:url(../images/submenu_bg.jpg) no-repeat center;
	margin-bottom: 50px;
}
#sub_menu .menu_list{
	width: 1200px;
	margin: 0 auto;
}
.menu_list li{
	width: 350px;
	height: 350px;
	float: left;
	background-color: #f8f8f8;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	border-radius: 30px;
}
.menu_list li .card{
	margin-left: 21px;
	margin-bottom: 20px;

}
.menu_list li .card img{
	display: block;
	padding-top: 20px;
}
.menu_list li .card .card_txt{
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
.menu_list li .card .card_etxt{
	padding-left: 20px;
	color: #808084;
	font-weight: bold;
}