
/*.row {
  margin: 0 0 30px;
  padding: 0;
}*/

/* .accordion */

.acc {
  height: 512px;
  overflow: hidden;
  position: relative;
}

.acc:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}

.acc._create:after { display: none; }

.accul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9999px;
  height: 512px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.accli {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 512px;
  float: left;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #000;
  transition: all 0.3s ease-out;
}

.accimg {
  display: block;
  cursor: pointer;
}
/* /.accordion */
